page-itemdetails {

.itemdetails .row
{
	    width: 50%;
    height: 80%;
    background: #fff;
    border-radius: 10px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 1px 2px 13px #ccc;
    padding:25px;
}



}
